<hr>
<table style="width: 100%;">
    <thead>
        <tr>
            <th>No. </th>
            <th>Name</th>
            <th>Image</th>
            <th>Av. Quantity</th>
            <th>Price in EGP</th>
            <th>Price in USD</th>
            <th>Needed Quantity</th>
            <th>Buy</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let prd of prdCatList; let i= index"
            [style.background-color]="prd.quantity == 0 ? 'gray': 'lightgray'">
            <td>{{i+1}}</td>
            <td>{{prd.name}}</td>
            <td>
                <!-- This will read from red from ts -->
                <!-- <img [LightBox]="red" [src]="prd.imgURL" alt=""> -->

                <img LightBox="red" [src]="prd.imgURL" alt="">
            </td>
            <td>
                <!-- <div *ngIf="prd.quantity != 0; else outOfStock">{{prd.quantity}}</div>
                <ng-template #outOfStock>Out of Stock</ng-template> -->
                <div [ngSwitch]="prd.quantity">
                    <div *ngSwitchCase="0">
                        Out of Stock
                    </div>
                    <div *ngSwitchDefault>
                        {{prd.quantity}}
                    </div>
                </div>
            </td>
            <td>{{prd.price | currency:"EUR" : "code"}}</td>
            <td>{{prd.price | USDtoEGP:10 | currency: 'EGP'}}</td>
            <td><input #itemsCount type="number" name="" id="" [max]="prd.quantity"></td>
            <td><button class="btn btn-secondary" (click)="buyToCart({productName: prd.name,
                productPrice: prd.price,
                productQuantity: itemsCount.value})">Buy</button></td>

        </tr>
    </tbody>
</table>



<!-- You should add the total price for order here -->